.filter-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: gainsboro;
  font-size: 1.2em;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid gainsboro;
  padding-top: 10px;
}

.filter-container i {
  cursor: pointer;
}

.filter-container i:hover {
  transform: scale(1.3, 1.3);
}
