.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 80px auto 0 250px;
  padding: 20px
}

.main-is-ie {
  width: 1px;
  font-size: 100px;
  margin: 60px 0 0 100px;
}

@media (max-width: 1234px) {
  .main-container {
    display: flex;
    margin: 80px 20px;
    flex-direction: column;
    align-items: center;
  }
}
