.navigation-container {
  width: 260px;
  height: 260px;
  position: fixed;
  top: -150px;
  left: -150px;
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 10;
  box-shadow: 1px 1px 5px 0 rgba(175, 175, 175, 1);
}

.navigation-home {
  width: 260px;
  height: 260px;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 13;
  border-bottom: 1px solid white;
  cursor: pointer;
  background-color: black;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  line-height: 490px;
  color: white;
}

.navigation-container:hover .navigation-home {
  top: -30px;
  opacity: 0.3;
}

.navigation-about {
  width: 260px;
  height: 260px;
  position: fixed;
  top: -150px;
  left: 0;
  z-index: 12;
  text-align: center;
  cursor: pointer;
}

.navigation-container:hover .navigation-about {
  top: 0;
  color: dimgray;
  line-height: 490px;
}

.navigation-prev-next {
  width: 270px;
  height: 35px;
  position: fixed;
  z-index: 9;
  background-color: gainsboro;
  color: dimgray;
  opacity: 0;
  cursor: pointer;
  top: -30px;
  left: -130px;
  transform: rotate(-45deg);
  display: flex;
  justify-content: space-around;
}

.navigation-container:hover + .navigation-prev-next,
.navigation-prev-next:hover,
.navigation-prev-next div:hover {
  top: 63px;
  left: -53px;
  opacity: 1;
}

.navigation-prev-next div {
  line-height: 40px;
}

.navigation-prev {
  top: 63px;
  left: -53px;
}

.navigation-next {
  top: 65px;
}

.navigation-hamburger {
  color: dimgray;
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 120px;
  opacity: 0.2;
}

.navigation-container:hover .navigation-hamburger {
  opacity: 0;
}