.navigation-home {
  width: 200px;
  height: 200px;
  position: fixed;
  top: -100px;
  left: -100px;
  transform: rotate(-45deg);
  z-index: 2;
  border-bottom: 1px solid white;
  text-align: center;
  line-height: 365px;
  cursor: pointer;
}

.navigation-decoration {
  width: 160px;
  height: 160px;
  position: fixed;
  top: -100px;
  left: -100px;
  transform: rotate(-45deg);
  z-index: 3;
  border-bottom: 1px solid white;
  cursor: pointer;
  background-color: black;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  line-height: 280px;
  color: white;
}

.navigation-prev-next {
  width: 275px;
  height: 275px;
  position: fixed;
  top: -164px;
  left: -164px;
  transform: rotate(45deg);
  z-index: 1;
  background-color: gainsboro;
  color: dimgray;
  opacity: 0;
  cursor: pointer;
}

.navigation-prev-next div {
  transform: rotate(-90deg);
  position: absolute;
  left: 232px;
  width: 50px;
}

.navigation-prev {
  top: 185px;
}

.navigation-next {
  top: 65px;
}

.navigation-next:hover {
  font-weight: bold;
}

.navigation-prev:hover {
  font-weight: bold;
}

.navigation-home:hover {
  color: dimgray;
}

.navigation-home:hover ~ .navigation-prev-next,
.navigation-prev-next:hover {
  top: -140px;
  left: -140px;
  opacity: 1;
}

.navigation-home:hover ~ .navigation-decoration,
.navigation-decoration:hover {
  top: -90px;
  left: -90px;
  opacity: 0.3;
}

.navigation-decoration:hover ~ .navigation-prev-next {
  top: -140px;
  left: -140px;
  opacity: 1;
}

.navigation-prev-next:hover ~ .navigation-decoration {
  top: -90px;
  left: -90px;
  opacity: 0.2;
}
