.profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  max-width: 350px;
  text-align: center;
}

.profile-description {
  text-align: justify;
  color: silver;
  margin-top: 40px;
  font-weight: 200;
}

.profile-image {
  border-radius: 50%;
}

.profile-name {
  font-size: 2em;
  margin-top: 20px;
}

.profile-title {
  font-size: 1.5em;
  color: silver;
  font-weight: 200;
}

.profile-name-container {
  position: relative;
}

.profile-name-decorator {
  vertical-align: middle;
  content: "";
  border-right: 15px solid transparent;
  border-left: 0px solid transparent;
  border-top: 15px solid gainsboro;
  width: 0;
  height: 0;
  position: absolute;
  top: 7px;
  left: -20px;
  margin-right: 3px;
  opacity: 0;
}

.profile-container a:hover .profile-name-decorator {
  opacity: 1;
}

@media (max-width: 1234px) {
  .profile-container {
    position: relative;
  }
}
