.project-container {
  display: flex;
  margin: 120px auto 0 120px;
  flex-direction: row;
  align-items: flex-start;
}

.project-title {
  font-size: 3em;
  margin-bottom: 20px;
  width: 1px;
}

.project-info {
  text-align: justify;
  line-height: 1.5em;
}

.project-prev {
  top: 175px;
}

.project-next {
  top: 65px;
}

.project-links-container {
  text-align: center;
  margin-top: 40px;
}

.project-right {
  margin: 0 40px 40px 440px;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 840px;
  width: 100%;
}

.project-right img {
  border: 1px solid gainsboro;
  margin-bottom: 40px;
  max-width: 100%;
}


.project-iframe {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-bottom: 40px;
  border: 1px solid gainsboro;
}
 
/* 16x9 Aspect Ratio */
.project-iframe-16x9 {
  padding-bottom: 56.25%;
}
 
 
.project-iframe iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-left {
  max-width: 350px;
  position: fixed;
}

.project-link-decorator {
  vertical-align: middle;
  content: "";
  border-right: 10px solid transparent;
  border-left: 0px solid transparent;
  border-top: 10px solid gainsboro;
  width: 0;
  height: 0;
  position: relative;
  top: 3px;
  left: 0;
  margin-right: 3px;
}

.project-links-container {
  display: flex;
}

.project-link {
  display: inline;
  color: gainsboro;
}

.project-image-container {
  text-align: center;
}

@media (max-width: 970px) {
  .project-container {
    display: flex;
    margin: 80px 20px;
    flex-direction: column;
    align-items: center;
  }

  .project-left {
    position: relative;
  }

  .project-title {
    width: 100%;
    text-align: center;
  }

  .project-right {
    margin: 0;
  }

  .project-info {
    margin-bottom: 40px;
  }

  .project-links-container {
    justify-content: center;
    margin-bottom: 40px;
  }
}
