body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: dimgray;
  user-select: none;
}

a {
  color: dimgray;
  text-decoration: none;
}

a:hover {
  color: dimgray;
}

ul {
  padding: 0;
}

.transition1 {
  transition: 0.1s ease-in-out;
}

.transition1s {
  transition: 1s ease-in-out;
}

.transition2 {
  transition: 0.2s ease-in-out;
}

.transition2opacity {
  transition: opacity .2s ease-in-out;
}

.transition3 {
  transition: 0.3s ease-in-out;
}

.salmon { color: salmon; }
.hotpink { color: hotpink; }
.darkorange { color: darkorange; }
.tomato { color: tomato; }
.gold { color: gold; }
.yellowgreen { color: yellowgreen; }
.lightseagreen { color: lightseagreen; }
.dodgerblue { color: dodgerblue; }
.plum { color: plum; }

.background-salmon { background-color: salmon; }
.background-hotpink { background-color: hotpink; }
.background-darkorange { background-color: darkorange; }
.background-tomato { background-color: tomato; }
.background-gold { background-color: gold; }
.background-yellowgreen { background-color: yellowgreen; }
.background-lightseagreen { background-color: lightseagreen; }
.background-dodgerblue { background-color: dodgerblue; }
.background-plum { background-color: plum; }

.hover-salmon:hover { color: salmon; border-color: salmon; }
.hover-hotpink:hover { color: hotpink; border-color: hotpink; }
.hover-darkorange:hover { color: darkorange; border-color: darkorange; }
.hover-tomato:hover { color: tomato; border-color: tomato; }
.hover-gold:hover { color: gold; border-color: gold; }
.hover-yellowgreen:hover { color: yellowgreen; border-color: yellowgreen; }
.hover-lightseagreen:hover { color: lightseagreen; border-color: lightseagreen; }
.hover-dodgerblue:hover { color: dodgerblue; border-color: dodgerblue; }
.hover-plum:hover { color: plum; border-color: plum; }